body {
   background-color: #121212; /* Fondo oscuro elegante */
   color: white;              /* Letras blancas */
   text-align: center;        /* Todo al centro */                
   font-family: Arial, sans-serif;

}

.barra-superior {
   background-color: #ffffff;
   width: 100%;
   padding: 25px;
   display: auto;
}

.logo-empresa {
   width: 200px;           /* El tamaño que ya elegiste */
   display: block;         /* Esto le dice que es un bloque sólido */
   center:  auto;
}


@media (max-width: 600px) {  /* Esto solo se activa en pantallas pequeñas (celulares) */
.logo-empresa {
        width: 150px;        /* Logo un poco más pequeño para que no ocupe toda la pantalla */
    }
    
